<!--
  ~ AndroidManifest.xml
  ~ Task Management Application
  ~ 1, COSC2543 - Mobile Application Development
  ~ RMIT International University Vietnam
  ~
  ~ Copyright 2014 Ly Quoc Hung (s3426511)
  ~
  ~ Refer to the NOTICE file in the root of the source tree for
  ~ acknowledgements of third party works used in this software.
  ~
  ~ Date created:       01/07/2014
  ~ Date last modified: 01/07/2014
  -->

<manifest package="org.rmit.hung.myapplication"
          xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">

	</application>

</manifest>
